/public_html_0/
/logs/
/public_html_work/
/info-gitHub.txt
/changelog.txt
/.gitignore
/public_html_force-new/
.idea
/bacj2-6-5-force/
/public_html/core/model/modx/mysql/
/public_html/core/model/modx/modresource.class.php
/mysql/
/a_mysly/
/public_html/sql-beta100.zip
/public_html/sql-beta-200.zip
/public_html/translit-1.0.0-beta.transport.zip
